
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    word-break: normal !important;
    -ms-word-break: normal !important;
}

.ant-table-body {
    overflow: scroll !important;
}

.ant-popover-arrow{
    display: none !important;
}